.box{
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 0px 5px #ff8c00;
    text-align: center;
    padding: 55px 44px;
    border-radius: 5px;
}
.box .title{
    margin-bottom: 15px;
}