.box{
    display: inline.block;
    background-color: #3A4042;
    border-radius: 15px;
    box-shadow: 5px 5px black;
    text-align: center;
    padding: 42px 44px;
}
.box .title{
    margin-bottom: 15px;
}