header{
    display: flex;
    justify-content: space-between;
    background-color: #4365a7;
    border-bottom: 3px solid #ff8c00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}